#install these requirements using: pip install -r requirements.txt
UnitTesterSG
numpy
pandas
matplotlib
scipy
zeus-mcmc
dill
emcee
# mpi4py  # uncomment this if you want to use the openmpi parallelization
# statsmodels  # need this for the yulewalker for Geweke stats
